
// Akkim theme style customization

  @font-face {
    font-family: 'Inter';
    src: url('./fonts/templatefont/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports the full weight range */
    font-style: normal;
  }
